# Ignore all raw data files downloaded from IMDb
/raw_data/*

/website/posters/*

# Specifically ignore common compressed and data formats just in case
*.gz
*.tsv
*.txt
*.csv
*.json
*.sqlite
*.db
*.html

# Keep the folder structure but keep it empty on GitHub
!/raw_data/.gitkeep

# Ignore local AI models and python environment
__pycache__/
venv/
.env
